.task-selector-container, .task-selector-container-dark {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 300px;
  padding: 5px 10px;
  margin-top: 30px;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

  border-radius: 6px;

  /* Light mode */
  background-color: rgba(247, 247, 247);

  cursor: pointer;
  /* transition: background-color 0.15s, color 0.15s; */
}
.task-selector-container-dark {
  /* Dark mode */
  background-color: rgba(55, 55, 55);
}

.task-selector-container-dark p {
  /* Dark mode */
  color: rgb(219, 181, 121);
}
.task-selector-container:hover .task-selector-dropdown, .task-selector-container-dark:hover .task-selector-dropdown-dark {
  opacity: 1;
  pointer-events: all;
}

.task-selector-text-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  padding: 5px;
}

.task-selector-img, .task-selector-img-dark {
  height: 30x;
  width: 30px;

  /* Light mode */
  filter: brightness(0) saturate(100%) invert(17%) sepia(6%) saturate(0%) hue-rotate(199deg) brightness(102%) contrast(87%);

  cursor: pointer;

  /* transition: opacity 0.15s, filter 0.15s; */
  opacity: 1;
}
.task-selector-img-dark {
  /* Dark mode */
  filter: brightness(0) saturate(100%) invert(93%) sepia(12%) saturate(2078%) hue-rotate(323deg) brightness(92%) contrast(85%);
}
.task-selector-img:hover, .task-selector-img-dark:hover {
  opacity: 0.7;
}

.task-selector-button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0);

  margin: 0px;
  padding: 0px;
  margin-left: 20px;

  border: none;

  /* transition: opacity 0.15s; */
  opacity: 1;
}
.task-selector-button:hover {
  opacity: 0.7;
}

.task-selector-dropdown, .task-selector-dropdown-dark {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  position: absolute;
  z-index: 20;

  left: 0px;
  right: 0px;
  top: 40.5px;
  /* padding: 12px 12px; */

  max-height: 250px;

  overflow-x: hidden;
  overflow-y: scroll;

  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);

  /* Light mode */
  background-color: rgb(247, 247, 247);

  border-radius: 6px;
  
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  /* visibility: hidden; */

  /* transition: background-color 0.15s; */
}
.task-selector-dropdown-dark {
  /* Dark mode */
  background-color: rgb(55, 55, 55);
}

.task-option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 300px;
  padding: 5px 10px;

  /* background-color: rgb(247, 247, 247); */
  /* backdrop-filter: blur(5px); */

  cursor: pointer;
  transition: box-shadow 0.15s;
}
.task-option:hover {
  /* background-color: rgb(231, 231, 231); */
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.2);
}