.timer-container, .timer-container-dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 40px 60px;
  /* width: 50%; */
  width: 250px;

  border-radius: 15px;
  /* 
	background-image: linear-gradient(#EFEDE8 2px, transparent 2px), linear-gradient(to right, #EFEDE8 2px, transparent 2px);
	background-size: 10px 10px;
	background-color: #F7F7F7; */

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

  /* Light mode */
  background-color: rgb(247, 247, 247); 

  /* transition: background-color 0.3s; */
}
.timer-container-dark {
  background-color: rgb(55, 55, 55);
}

.timer, .timer-dark {
  font-size: 100px;
  font-family: Arial;

  /* Light mode */
  color: rgb(41, 41, 41);

  /* transition: color 0.3s; */
}
.timer-dark {
  /* Dark mode */
  color: rgb(219, 181, 121);
}

.control-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;

  margin-top: 30px;
}

.timer-button, .timer-button-dark {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 10px;

  padding: 10px;

  /* Light mode */
  background-color: rgb(55, 55, 55);

  cursor: pointer;
  transition: translate 0.3s, box-shadow 0.3s;
  box-shadow: 3px 3px 0px rgba(1, 1, 1, 0.2);

  /* transition: background-color 0.3s; */
}
.timer-button-dark {
  /* Dark mode */
  background-color: rgb(219, 181, 121)
}
.timer-button:active {
  translate: 1px 1px;
  box-shadow: 2px 2px 0px rgba(1, 1, 1, 0.2);
}
.timer-button-img, .timer-button-img-dark {
  height: 40px;
  width: 40px;
  /* Light mode */
  filter: brightness(0) saturate(100%) invert(86%) sepia(88%) saturate(424%) hue-rotate(311deg) brightness(89%) contrast(92%);

  /* transition: filter 0.3s; */
}
.timer-button-img-dark {
  /* Dark mode */
  filter: brightness(0) saturate(100%) invert(17%) sepia(6%) saturate(0%) hue-rotate(199deg) brightness(102%) contrast(87%);
}

.timer-button-sub {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  background-color: rgba(55, 55, 55, 0);

  cursor: pointer;
  /* transition: opacity 0.3s; */
}
.timer-button-sub:hover {
  opacity: 0.7;
}
.timer-button-sub-img, .timer-button-sub-img-dark {
  height: 20px;
  width: 20px;
  /* Light mode */
  filter: brightness(0) saturate(100%) invert(17%) sepia(6%) saturate(0%) hue-rotate(199deg) brightness(102%) contrast(87%);

  /* transition: filter 0.3s; */
}
.timer-button-sub-img-dark {
  /* Dark mode */
  filter: brightness(0) saturate(100%) invert(93%) sepia(12%) saturate(2078%) hue-rotate(323deg) brightness(92%) contrast(85%);
}


.break-image {
  height: 150px;
  width: 150px;
  margin-bottom: 30px;
  opacity: 1;
}
.break-image-focus {
  opacity: 0;
}

.state-text, .state-text-dark {
  margin-bottom: 20px;
  /* Light mode */
  color: rgb(55, 55, 55);

  /* transition: color 0.3s; */
}
.state-text-dark {
  /* Dark mode */
  color: rgb(219, 181, 121);
}
