.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 40px 60px;
  /* width: 50%; */
  width: 400px;

  border-radius: 15px;
  /* 
	background-image: linear-gradient(#EFEDE8 2px, transparent 2px), linear-gradient(to right, #EFEDE8 2px, transparent 2px);
	background-size: 10px 10px;
	background-color: #F7F7F7; */

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  background-color: rgb(247, 247, 247);
}

.timer {
  font-size: 100px;
  font-family: Arial;
  color: rgb(41, 41, 41);
}

.control-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;

  margin-top: 30px;
}

.timer-button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 10px;

  padding: 10px;

  background-color: rgb(55, 55, 55);

  cursor: pointer;
  transition: translate 0.15s, box-shadow 0.15s;
  box-shadow: 3px 3px 0px rgba(1, 1, 1, 0.2);
}
.timer-button:active {
  translate: 1px 1px;
  box-shadow: 2px 2px 0px rgba(1, 1, 1, 0.2);
}
.timer-button-img {
  height: 40px;
  width: 40px;
  filter: brightness(0) saturate(100%) invert(86%) sepia(88%) saturate(424%) hue-rotate(311deg) brightness(89%) contrast(92%);
}

.timer-button-sub {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  background-color: rgba(55, 55, 55, 0);

  cursor: pointer;
  transition: opacity 0.15s;
}
.timer-button-sub:hover {
  opacity: 0.7;
}
.timer-button-sub-img {
  height: 20px;
  width: 20px;
  filter: brightness(0) saturate(100%) invert(17%) sepia(6%) saturate(0%) hue-rotate(199deg) brightness(102%) contrast(87%);
}

.break-image {
  height: 150px;
  width: 150px;
  margin-bottom: 30px;
  opacity: 1;
}

.task-selector-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 300px;
  padding: 5px 10px;
  margin-top: 30px;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

  border-radius: 6px;

  background-color: rgba(247, 247, 247);
  /* backdrop-filter: blur(5px); */

  cursor: pointer;
  transition: background-color 0.15s;
}
.task-selector-container:hover .task-selector-dropdown {
  background-color: rgb(231, 231, 231);
  /* visibility: visible; */
  opacity: 1;
  pointer-events: all;
}

.task-selector-text-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  padding: 5px;
}

.task-selector-img {
  height: 30x;
  width: 30px;
  filter: brightness(0) saturate(100%) invert(17%) sepia(6%) saturate(0%) hue-rotate(199deg) brightness(102%) contrast(87%);
  cursor: pointer;

  transition: opacity 0.15s;
  opacity: 1;
}
.task-selector-img:hover {
  opacity: 0.7;
}

.task-selector-button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0);

  margin: 0px;
  padding: 0px;
  margin-left: 20px;

  border: none;

  transition: opacity 0.15s;
  opacity: 1;
}
.task-selector-button:hover {
  opacity: 0.7;
}

.task-selector-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  position: absolute;
  z-index: 20;

  left: 0px;
  right: 0px;
  top: 40.5px;
  /* padding: 12px 12px; */

  max-height: 250px;

  overflow-x: hidden;
  overflow-y: scroll;

  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);

  border-radius: 6px;
  
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  /* visibility: hidden; */
}

.task-option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 300px;
  padding: 5px 10px;

  background-color: rgb(247, 247, 247);
  /* backdrop-filter: blur(5px); */


  cursor: pointer;
  transition: background-color 0.15s;
}
.task-option:hover {
  background-color: rgb(231, 231, 231);
}