
.bar {
  display: flex;
  flex-direction: row;
  justify-content: start;

  margin-top: 2px;
  margin-bottom: 2px;

  width: 100%;
  height: 20px;

  /* background-color: yellow; */

  /* overflow: hidden; */
}

.filled {
  /* border-radius: 4px; */

  /* overflow: hidden; */
  
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.bar-stack, .bar-stack-left, .bar-stack-right {
  position: relative;

  /* border-radius: 4px; */

  display: flex;
  flex-direction: row;
  justify-content: center;

  /* overflow: visible; */

  padding: 1px 2px;

  transition: box-shadow 0.15s;
}
.bar-stack-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.bar-stack-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.bar-stack:hover, .bar-stack-left:hover, .bar-stack-right:hover {
  /* filter: brightness(120%); */
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.5);
}

.bar-stack:hover .bar-stack-tooltip, .bar-stack-left:hover .bar-stack-tooltip, .bar-stack-right:hover .bar-stack-tooltip {
  opacity: 1;
  /* pointer-events: all; */
}

.bar-stack-tooltip {
  position: absolute;
  z-index: 5;

  top: -20px;
  max-width: 200px;

  white-space: nowrap;

  padding: 6px 12px;

  border-radius: 4px;

  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);

  background-color: white;

  pointer-events: none;
  opacity: 0;
  transition: opacity 0.15s;
}