
.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px 10vw;
  /* padding: 20px 400px; */

  background-color: rgb(247, 247, 247);
	/* background-image: linear-gradient(#EFEDE8 2px, transparent 2px), linear-gradient(to right, #EFEDE8 2px, transparent 2px);
	background-size: 10px 10px;
	background-color: #F7F7F7;	 */
}

.small-panels {
  display: flex;
  flex-direction: column;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* column-gap: 10px; */
  justify-content: center;

  flex: 1;
  margin-bottom: 20px;
  margin-top: 30px;

  /* background-color: lightgoldenrodyellow; */
}

.dashboard-container {
  background-color: rgb(50, 50, 50);

  max-width: 850px;

  /* background-color: rgb(55, 55, 55); */
  background-image: linear-gradient(to top, rgb(78, 78, 75), rgba(55, 55, 55, 1));

  margin: 10px;
  padding: 20px;

  border-radius: 15px;
}
.dashboard-container h1 {
  color: rgb(219, 181, 121);
  margin-bottom: 20px;
}

.dashboard-container h2 {
  /* color: rgb(156, 131, 92); */
  color: rgb(219, 181, 121);
}

.dashboard-container p, a {
  /* color: rgb(156, 131, 92); */
  color: rgb(219, 181, 121);
}

.task-stat-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}


.stats-chart-container {
  display: flex;
  flex-direction: row;

  height: 100%;
  width: 100%;

  /* background-color: lightsteelblue; */
}

.stats-chart-date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;

  width: 20%;

  margin-top: 2px;
  margin-bottom: 2px;
  padding-right: 4px;

  border-right: 2px;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-style: solid;

  border-color: rgb(219, 181, 121);

}

.bar-chart {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  width: 100%;
  box-sizing: border-box;

  padding-left: 10px;
}

.bar-chart-line-container {
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  padding-right: 10px;

  display: flex;
  flex-direction: row;

  /* background-color: rgba(255, 0, 0, 0.5); */

  pointer-events: none;
}
.bar-chart-quarter {
  position: relative;
  border-style: dashed;
  border-left-width: 0px;
  border-right-width: 1px;
  border-top-width: 0px;
  border-bottom-width: 0px;

  border-color: rgb(219, 181, 121);
  

  flex: 1;

  height: 100%;
}

.bar-chart-quarter-value {
  position: absolute;
  color: rgb(219, 181, 121);
  font-size: 12px;
  bottom: -15px;
  right: 0px;
}