
.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px 10vw;
  /* padding: 20px 400px; */

  background-color: rgb(247, 247, 247);
	/* background-image: linear-gradient(#EFEDE8 2px, transparent 2px), linear-gradient(to right, #EFEDE8 2px, transparent 2px);
	background-size: 10px 10px;
	background-color: #F7F7F7;	 */
}

.small-panels {
  display: flex;
  flex-direction: column;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* column-gap: 10px; */
  justify-content: center;

  flex: 1;
  margin-bottom: 20px;
  margin-top: 30px;

  /* background-color: lightgoldenrodyellow; */
}

.dashboard-container {
  background-color: rgb(50, 50, 50);

  max-width: 850px;

  /* background-color: rgb(55, 55, 55); */
  background-image: linear-gradient(to top, rgb(78, 78, 75), rgba(55, 55, 55, 1));

  margin: 10px;
  padding: 20px;

  border-radius: 15px;
}
.dashboard-container h1 {
  color: rgb(219, 181, 121);
  margin-bottom: 20px;
}

.dashboard-container h2 {
  /* color: rgb(156, 131, 92); */
  color: rgb(219, 181, 121);
}

.dashboard-container p, a {
  /* color: rgb(156, 131, 92); */
  color: rgb(219, 181, 121);
}

.task-stat-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.task-name-container {

  max-width: 50%;
  padding-top: 5px;
  padding-bottom: 5px;

  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

.task-stat-container {
  display: flex;
  justify-content: space-between;

  margin-bottom: 30px;
}
.stat-hour-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  margin-left: 5px;
  padding-left: 5px;

  border-right: 0px;
  border-left: 1px;
  border-top: 0px;
  border-bottom: 0px;
  border-style: solid;

  border-color: rgb(219, 181, 121);
}


.stats-chart-container {
  display: flex;
  flex-direction: row;

  height: 100%;
  width: 100%;

  /* background-color: lightsteelblue; */
}

.stats-chart-date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;

  width: 20%;

  margin-top: 2px;
  margin-bottom: 2px;
  padding-right: 4px;

  border-right: 2px;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-style: solid;

  border-color: rgb(219, 181, 121);

}

.bar-chart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  width: 100%;

  padding-left: 10px;

}

.bar {
  display: flex;
  flex-direction: row;
  justify-content: start;

  margin-top: 2px;
  margin-bottom: 2px;

  width: 100%;
  height: 20px;

  /* background-color: yellow; */

  /* overflow: hidden; */
}

.filled {
  /* border-radius: 4px; */

  /* overflow: hidden; */
  
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.bar-stack, .bar-stack-left, .bar-stack-right {
  position: relative;

  /* border-radius: 4px; */

  display: flex;
  flex-direction: row;
  justify-content: center;

  /* overflow: visible; */

  padding: 1px 2px;

  transition: box-shadow 0.15s;
}
.bar-stack-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.bar-stack-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.bar-stack:hover, .bar-stack-left:hover, .bar-stack-right:hover {
  /* filter: brightness(120%); */
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.5);
}

.bar-stack:hover .bar-stack-tooltip, .bar-stack-left:hover .bar-stack-tooltip, .bar-stack-right:hover .bar-stack-tooltip {
  opacity: 1;
  /* pointer-events: all; */
}

.bar-stack-tooltip {
  position: absolute;
  z-index: 5;

  top: -20px;
  max-width: 200px;

  white-space: nowrap;

  padding: 6px 12px;

  border-radius: 4px;

  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);

  background-color: white;

  pointer-events: none;
  opacity: 0;
  transition: opacity 0.15s;
}