.task-stat-container {
  display: flex;
  justify-content: space-between;

  margin-bottom: 30px;
}

.task-name-container {
  max-width: 50%;
  padding-top: 5px;
  padding-bottom: 5px;

  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

.stat-hour-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  margin-left: 5px;
  padding-left: 5px;

  border-right: 0px;
  border-left: 1px;
  border-top: 0px;
  border-bottom: 0px;
  border-style: solid;

  border-color: rgb(219, 181, 121);
}