
.create-task-modal {
  position: fixed; 
  z-index: 41;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px 30px;

  background-color: rgb(247, 247, 247);

  border-radius: 6px;
}

.create-task-input {
  margin-top: 10px;
  margin-bottom: 10px;

  height: 30px;
  padding: 4px 8px;

  border-style: solid;
  border-color: rgb(220, 220, 220);
  border-width: 1px;
  border-radius: 6px;

  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}

.task-input-button {
  background-color: rgb(247, 247, 247);

  padding: 5px 10px;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 10px;

  border-style: solid;
  border-color: rgb(220, 220, 220);
  border-width: 1px;
  border-radius: 6px;

  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.3);

  cursor: pointer;
  transition: background-color 0.15s, box-shadow 0.15s translate 0.15s;
}
.task-input-button:hover {
  background-color: rgb(231, 231, 231);
}
.task-input-button:active {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0);
  translate: 0px 0.5px;
}
.task-input-button-selected {
  font-weight: 600;
  background-color: rgb(231, 231, 231);
}

.overlay {
  position: fixed;
  z-index: 40;

  display: flex;
  align-items: center;
  justify-content: center;

  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  background-color: rgba(0, 0, 0, 0.5);
}