body {
  padding: 0;
  margin: 0;
  height: 100vh;

  font-family: "LINE Seed JP", "Raleway", sans-serif;

  background-color: rgb(247, 247, 247);

  overflow-x: hidden;
}

h1 {
  font-size: 45px;
  color: rgb(55, 55, 55);
  margin: 0;
}

h2 {
  font-size: 26px;
  color: rgb(55, 55, 55);
  margin: 0;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  color: rgb(55, 55, 55);
  margin: 0;
}

p, a {
  color: rgb(55, 55, 55);
  margin: 0;
  text-decoration: none;
}

button {
  font-family: "LINE Seed JP", "Raleway", sans-serif;
  color: rgb(55, 55, 55);
}

input {
  font-family: "LINE Seed JP", "Raleway", sans-serif;
  color: rgb(55, 55, 55);
}